[init]
	defaultBranch = main
[fetch]
	prune = true
[rebase]
	autosquash = true
[commit]
	verbose = true
[push]
	autoSetupRemote = true
[pull]
	ff = only
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	# side-by-side = true
	hyperlinks = true
[user]
	name = Florian Laporte
	email = florian@laporte.cc
[merge]
	conflictStyle = zdiff3
[alias]
	recommit = !git commit -eF $(git rev-parse --git-dir)/COMMIT_EDITMSG
	glog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
[diff]
	context = 20
